extends layout

block content
  h1= title
  p= (posts[0]) ? posts[0].day : ""
  table.products
    tr
      th Name
      th Date
      th Posted by
    each post in posts
      tr
        td= post.name
        td= post.day
        td= post.user.name
