extends layout

block stylesheets
  link(rel="stylesheet", href="/css/bootstrap-slider.min.css")
  style.
    .setting .slider-selection {
      background: #BABABA;
    }

block content

  h1= title

  if firstTime
    p
      | Welcome to PersonalHunt! You can use this tool to sort the products
      | on ProductHunt according to your own experience, your social network, and
      | the response from the whole PH community.

  p Which factors are most important to you?

  if firstTime
    p.pull-right
      a(href="/") Skip &raquo;

  h3 You

  p
    label(for="related-post-upvotes") You upvoted a related post
    br
    input.setting(id="related-post-upvotes" data-slider-id='related-post-upvotes-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["relatedPostUpvotes"])

  p
    label(for="related-post-comments") You commented on a related post
    br
    input.setting(id="related-post-comments" data-slider-id='related-post-comments-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["relatedPostComments"])

  h3 People you follow

  p
    label(for="following-hunters") A friend hunted it
    br
    input.setting(id="following-hunters" data-slider-id='following-hunters-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["followingHunters"])

  p
    label(for="following-upvotes") A friend upvoted it
    br
    input.setting(id="following-upvotes" data-slider-id='following-upvotes-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["followingUpvotes"])

  p
    label(for="following-comments") A friend commented on it
    br
    input.setting(id="following-comments" data-slider-id='following-comments-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["followingComments"])

  h3 Everyone

  p
    label(for="total-upvotes") Number of upvotes
    br
    input.setting(id="total-upvotes" data-slider-id='total-upvotes-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["totalUpvotes"])

  p
    label(for="total-comments") Number of comments
    br
    input.setting(id="total-comments" data-slider-id='total-comments-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value=weights["totalComments"])

  button.btn#save Save

block scripts
  script(src="/bootstrap-slider.min.js")
  script.
    $(document).ready(function() {
      $('input.setting').slider({});
      $('#save').click(function() {
        $('#save').prop('disabled', true);
        var values = {};
        $('input.setting').each(function() {
          var id = $(this).attr('id');
          var value = $(this).slider('getValue');
          values[id] = value;
        });
        $.post('/settings', values, function() {
          window.location.replace("/");
        });
      });
    });
